@use './variables' as *;
@use './fontface' as *;
@use './mixins' as *;

/* ## Default Styles ## */

body {
    font-family: $font-face;
    font-size: $size-increment-x3;
    line-height: $size-increment-x4;
    font-weight: $font-weight-regular;
    color: $primary-color-main;

    @include tablet-responsive {
        font-size: $size-increment-x3;
        line-height: $size-increment-x4;
    }
}
a {
    text-decoration: none;
    font-style: normal;
    color: $primary-color-subsidiary;
}
h1, h2 {
    font-size: $page-section-header;
    line-height: $page-section-line-height;
    font-weight: $font-weight-demi;
}
h1 {
    @include tablet-responsive {
        font-size: $page-header-large;
        line-height: $page-line-height-large;
    }
}
h2 {
    @include tablet-responsive {
        font-size: $section-header-large;
        line-height: $section-line-height;
    }
}
h3, h4 {
    font-weight: $font-weight-demi;
    font-style: normal;
}
img {width: 100%;}
span, label {
    font-style: normal;
    display: block;
}
.hero, footer {
    color: $primary-color-subsidiary;
}

hr {
    width: 100%;
    height: 1px;
    background-color: $secondary-color-alternate;
}

.topbar__logo,
.contact__logo {max-width: $logo-max-width;}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    @extend .flex-container;
    
    max-width: 1044px;
    padding: 0 $size-increment-x3;
    margin: 0 auto;

    @include tablet-responsive {padding: 0 $size-increment-x5-1;}
    @include desktop-responsive {padding: 0 0;}
}

.cta {
    @extend .flex-container;

    min-height: $size-increment-x6;
    background-color: $primary-color-main;
    color: $primary-color-subsidiary;
    font-weight: $font-weight-bold;
    border-radius: $size-increment-x1;
    text-transform: uppercase;
    cursor: pointer;

    @include tablet-responsive {
        min-width: $large-screen-cta-min-width;
        padding: 0 $size-increment-x5;
    }
}

.label {
    margin-bottom: $size-increment-x1;
    color: $primary-color-alternate;
    font-weight: $font-weight-demi;
    text-transform: uppercase;
}