@use './partials/variables' as *;
@use './partials/reset' as *;
@use './partials/globals' as *;
@use './partials/fontface' as *;
@use './partials/mixins' as *;

@use './partials/header' as *;
@use './partials/footer' as *;
@use './partials/hero' as *;

.hero {
    @include set-background-image("hero-shows.jpg");
    
    @include custom-responsive("min", 450px) {height: 36vh;}
    @include custom-responsive("min", 550px) {height: 40vh;}
    @include custom-responsive("min", 650px) {height: 48vh;}
    @include tablet-responsive {height: 60vh;}
    @include desktop-responsive {height: 80vh;}
}

/* ###  about/bio   ### */

.about {

    &__container,
    &__image {
        @include padding-component("mobile");
        @include tablet-responsive {@include padding-component("tablet");}
    }

    &__title,
    &__sub-title {
        @include padding-headline("mobile");
        @include tablet-responsive {@include padding-headline("tablet");}
    }

    &__container {
        @extend .container;
        justify-content: flex-start;
    }

    &__content {
        @include tablet-responsive {
            width: 90%;
            margin: 0 auto;
        }
    }


    &__quotation {font-weight: $font-weight-bold;}
    
    &__bio {
        @include tablet-responsive {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__sub-title {
        @include tablet-responsive {
            @include flex-item-realestate(1, 0, 100%);
        }
    }

    &__text {
        @include tablet-responsive {
            @include flex-item-realestate(1, 0, 40%);
        }
    }
    &__text--first {
        @include padding-component("mobile");
        @include tablet-responsive {
            margin: 0 $size-increment-x5 0 0;
            padding-bottom: 0;
        }
    }
}

/* ###  gallery   ### */

.gallery {
    background-color: $secondary-color-subsidiary;

    &__container {
        @extend .container;
        justify-content: flex-start;

        @include padding-component("mobile");
        @include tablet-responsive {
            @include padding-component("tablet");
        }
    }

    &__title {
        @include padding-headline("mobile");
        @include tablet-responsive {
            @include padding-headline("tablet");
        }
    }

    &__items {
        @include tablet-responsive {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: $size-increment-x3;
        }
    }

    &__item {
        margin-bottom: $size-increment-x3;
        &:last-child {margin-bottom: 0;}

        @include tablet-responsive {width: 30%;}
    }

    &__image {
        filter: grayscale(1);
        transition: filter .2s ease;

        &:hover, &:active {filter: none;}
    }
}

/* ###  comment   ### */
.conversation {
    &__container {
        @extend .container;
        justify-content: flex-start;
    }

    @include padding-component("mobile");
    @include tablet-responsive {
        @include padding-component("tablet");
    }

    &__title {
        @include padding-headline("mobile");
        @include flex-item-realestate(1, 0, 100%);
        @include tablet-responsive {
            @include padding-headline("tablet");
        }    
    }

    &__comment {
        @include flex-item-realestate(1, 0, 100%);
        @extend .flex-container;
        justify-content: flex-start;

        @include padding-component("mobile");
        @include tablet-responsive {
            @include padding-component("tablet");
        }

        @include desktop-responsive {
            max-width: 55%;
            margin: auto;
        }
    }

    &__thumbnail {
        align-self: flex-start;

        &--active {
            margin-top: $size-increment-x5;

            @include tablet-responsive {
                margin-top: 1.85rem;
            }
        }
    }

    &__avatar {
        @extend .flex-container;
        justify-content: flex-start;

        width: $size-increment-x5-1;
        height: $size-increment-x5-1;
        border-radius: 50%;
        overflow: hidden;
        margin-right: $size-increment-x3;
        background-color: $secondary-color-alternate;

        @include tablet-responsive {
            width: $size-increment-x7;
            height: $size-increment-x7;
        }
    }

    &__image {
        width: auto;
        height: 100%;
    }

    &__form {
        @include flex-item-realestate(1, 1, auto);
    }

    &__name, &__text {
        @include padding-component("mobile");
        @include tablet-responsive {
            @include padding-component("tablet");
        }
    }

    &__name, &__text,
    &__label, &__input, &__textarea, &__action {
        width: 100%;
    }

    &__input, &__textarea, &__action {
        border-radius: $size-increment-x1;
    }

    &__label {
        margin-bottom: $size-increment-x1;
        color: $primary-color-alternate;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    &__input, &__textarea {
        border: 1px solid $secondary-color-alternate;
        min-height: $size-increment-x5-1;
        padding: $size-increment-x2-1;
        background-color: #f1f1f1;

        &--error {
            border-color: #D22D2D;
            box-shadow: 0 0 5px rgb(210, 45, 45, .5);   
        }

        @include tablet-responsive {
            min-height: $size-increment-x7;
            padding: $size-increment-x3;
        }
    }
    
    &__input:active, &__textarea:focus {
        border-color: $primary-color-main;
    }
    
    &__input::placeholder, &__textarea::placeholder {
        font-family: $font-face;
        color: $primary-color-main;
        font-weight: 600;
    }
    
    &__textarea {
        resize: none;
        min-height: 120px;
    }

    &__submit {
        @extend .flex-container;
        justify-content: flex-end;

        @include flex-item-realestate(1, 1, 100%);
    }
    &__action {
        @extend .cta;

        @include tablet-responsive {width: 25%}
    }

    &__items {
        @include flex-item-realestate(1, 1, 100%);
        @include desktop-responsive {
            max-width: 55%;
            margin: auto;
        }
    }

    &__item {
        @extend .flex-container;

        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 16px 0;
    }

    &__content {
        @extend .flex-container;
        justify-content: space-between;
        @include flex-item-realestate(1, 1, auto);
    }

    &__username, &__timestamp {
        @include padding-component("mobile");
    }

    &__timestamp {
        color: $primary-color-alternate;
    }

    &__body {
        @include flex-item-realestate(1, 1, 100%);
    }
}

/* ###  footer/contact   ### */

