/* ##   size increments   ## */
/* 4px */
/* 8px */
/* 12px */
/* 16px */
/* 24px */
/* 32px */
/* 36px */
/* 40px */
/* 48px */
/* 56px */
/* 64px */
/* 80px */
/* ##   colors   ## */
/* ##   font   ## */
/* ##   text styles   ## */
/* ##   site Container   ## */
/* ##   responsive breakpoint   ## */
/* ##   branding   ## */
/* ##   buttons   ## */
/* ##   imagery   ## */
/* ## Reset ## */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, cite, a,
ul, li, figure, figcaption, footer, header,
nav, section, form, input, button, textarea, hr {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

@font-face {
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 400;
}
@font-face {
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 600;
}
@font-face {
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 700;
}
/* ## responsive breakpoints ## */
/* ## utiilty mixins ## */
/* ## Default Styles ## */
body {
  font-family: "AvenirNext";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

a {
  text-decoration: none;
  font-style: normal;
  color: #FFFFFF;
}

h1, h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3, h4 {
  font-weight: 600;
  font-style: normal;
}

img {
  width: 100%;
}

span, label {
  font-style: normal;
  display: block;
}

.hero, footer {
  color: #FFFFFF;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.topbar__logo,
.contact__logo {
  max-width: 120px;
}

.flex-container, .conversation__comment, .conversation__avatar, .conversation__submit, .conversation__item, .conversation__content, .cta, .conversation__action, .container, .about__container, .gallery__container, .conversation__container, .hero__container, .contact__container, .topbar__container, .topbar__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container, .about__container, .gallery__container, .conversation__container, .hero__container, .contact__container, .topbar__container, .topbar__items {
  max-width: 1044px;
  padding: 0 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container, .about__container, .gallery__container, .conversation__container, .hero__container, .contact__container, .topbar__container, .topbar__items {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .container, .about__container, .gallery__container, .conversation__container, .hero__container, .contact__container, .topbar__container, .topbar__items {
    padding: 0 0;
  }
}

.cta, .conversation__action {
  min-height: 2.5rem;
  background-color: #323232;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .cta, .conversation__action {
    min-width: 150px;
    padding: 0 2rem;
  }
}

.label {
  margin-bottom: 0.25rem;
  color: #AFAFAF;
  font-weight: 600;
  text-transform: uppercase;
}

/* ###  header/navigation   ### */
.topbar {
  background-color: #323232;
}
.topbar__container {
  padding: 0 0;
}
@media screen and (min-width: 768px) {
  .topbar__container {
    padding: 0 2.25rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .topbar__container {
    padding: 0;
  }
}
.topbar__back-to-home {
  padding: 1rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .topbar__back-to-home {
    padding: 0;
    margin: 0;
  }
}
.topbar__back-to-home, .topbar__navigation, .topbar__items {
  flex: 0 0 100%;
}
@media screen and (min-width: 768px) {
  .topbar__back-to-home, .topbar__navigation, .topbar__items {
    flex: 0 0 auto;
  }
}
.topbar__items {
  padding: 0 0;
  list-style: none;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .topbar__items {
    gap: 2rem;
  }
}
.topbar__item, .topbar__link {
  transition: all 0.2s ease;
}
.topbar__item {
  flex: 0 0 50%;
  padding: 0 1rem 0.5rem;
  font-weight: 600;
  text-align: center;
}
.topbar__item:hover, .topbar__item--active {
  border-bottom: 0.25rem solid #FFFFFF;
  cursor: pointer;
}
.topbar__item:hover > a, .topbar__item--active > a {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .topbar__item {
    padding: 1.5rem 0;
    flex: 0 0 auto;
  }
}
.topbar__link {
  color: #AFAFAF;
}

.contact {
  background-color: #323232;
}
.contact__container {
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__container {
    padding-bottom: 2.25rem;
  }
}
.contact__title {
  flex: 1 0 100%;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 2.5rem;
    order: -1;
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__title {
    flex: 0 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .contact__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.contact__social {
  flex: 1 0 100%;
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .contact__social {
    order: -1;
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__social {
    flex: 0 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon {
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--facebook {
    width: 18px;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--twitter {
    width: 35px;
  }
}
.contact__point {
  flex: 1 0 100%;
}
@media screen and (min-width: 768px) {
  .contact__point {
    flex: 1 0 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__point {
    flex: 0 1 30%;
  }
}
.contact__person {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__person {
    padding-top: 0;
    padding-bottom: 2.25rem;
  }
}
.contact__location {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__location {
    padding-bottom: 2.25rem;
  }
}
.contact__title, .contact__name, .contact__company, .contact__copyright {
  color: #FFFFFF;
}
.contact__name, .contact__company {
  font-weight: 700;
}
.contact__icon, .contact__logo {
  vertical-align: bottom;
}
.contact__back-to-home {
  display: block;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__back-to-home {
    flex: 1 1 30%;
    padding-bottom: 0;
    margin-top: 0;
    order: -1;
    text-align: right;
  }
}
@media screen and (min-width: 1280px) {
  .contact__back-to-home {
    flex: 1 0 40%;
  }
}
.contact__copyright {
  flex: 1 0 100%;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .contact__copyright {
    font-size: 1rem;
    margin-top: 3rem;
  }
}

.hero {
  height: 32vh;
}
.hero__overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero__container {
  height: 100%;
  justify-content: flex-start;
}
.hero__title {
  color: #FFFFFF;
}
@media screen and (min-width: 550px) {
  .hero__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 650px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
  }
}

.hero {
  background: url("../assets/images/hero-shows.jpg") center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 450px) {
  .hero {
    height: 36vh;
  }
}
@media screen and (min-width: 550px) {
  .hero {
    height: 40vh;
  }
}
@media screen and (min-width: 650px) {
  .hero {
    height: 48vh;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}

/* ###  about/bio   ### */
.about__container, .about__image {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__container, .about__image {
    padding-bottom: 2.25rem;
  }
}
.about__title, .about__sub-title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__title, .about__sub-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.about__container {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .about__content {
    width: 90%;
    margin: 0 auto;
  }
}
.about__quotation {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__bio {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .about__sub-title {
    flex: 1 0 100%;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    flex: 1 0 40%;
  }
}
.about__text--first {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__text--first {
    margin: 0 2rem 0 0;
    padding-bottom: 0;
  }
}

/* ###  gallery   ### */
.gallery {
  background-color: #FAFAFA;
}
.gallery__container {
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    padding-bottom: 2.25rem;
  }
}
.gallery__title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
}
.gallery__item {
  margin-bottom: 1rem;
}
.gallery__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 30%;
  }
}
.gallery__image {
  filter: grayscale(1);
  transition: filter 0.2s ease;
}
.gallery__image:hover, .gallery__image:active {
  filter: none;
}

/* ###  comment   ### */
.conversation {
  padding-bottom: 1rem;
}
.conversation__container {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .conversation {
    padding-bottom: 2.25rem;
  }
}
.conversation__title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  flex: 1 0 100%;
}
@media screen and (min-width: 768px) {
  .conversation__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.conversation__comment {
  flex: 1 0 100%;
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .conversation__comment {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .conversation__comment {
    max-width: 55%;
    margin: auto;
  }
}
.conversation__thumbnail {
  align-self: flex-start;
}
.conversation__thumbnail--active {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .conversation__thumbnail--active {
    margin-top: 1.85rem;
  }
}
.conversation__avatar {
  justify-content: flex-start;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  background-color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .conversation__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.conversation__image {
  width: auto;
  height: 100%;
}
.conversation__form {
  flex: 1 1 auto;
}
.conversation__name, .conversation__text {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .conversation__name, .conversation__text {
    padding-bottom: 2.25rem;
  }
}
.conversation__name, .conversation__text, .conversation__label, .conversation__input, .conversation__textarea, .conversation__action {
  width: 100%;
}
.conversation__input, .conversation__textarea, .conversation__action {
  border-radius: 0.25rem;
}
.conversation__label {
  margin-bottom: 0.25rem;
  color: #AFAFAF;
  text-transform: uppercase;
  font-weight: 600;
}
.conversation__input, .conversation__textarea {
  border: 1px solid #E1E1E1;
  min-height: 2.25rem;
  padding: 0.75rem;
  background-color: #f1f1f1;
}
@media screen and (min-width: 768px) {
  .conversation__input, .conversation__textarea {
    min-height: 3rem;
    padding: 1rem;
  }
}
.conversation__input:active, .conversation__textarea:focus {
  border-color: #323232;
}
.conversation__input::-moz-placeholder, .conversation__textarea::-moz-placeholder {
  font-family: "AvenirNext";
  color: #323232;
  font-weight: 600;
}
.conversation__input:-ms-input-placeholder, .conversation__textarea:-ms-input-placeholder {
  font-family: "AvenirNext";
  color: #323232;
  font-weight: 600;
}
.conversation__input::placeholder, .conversation__textarea::placeholder {
  font-family: "AvenirNext";
  color: #323232;
  font-weight: 600;
}
.conversation__textarea {
  resize: none;
  min-height: 120px;
}
.conversation__submit {
  justify-content: flex-end;
  flex: 1 1 100%;
}
@media screen and (min-width: 768px) {
  .conversation__action {
    width: 25%;
  }
}
.conversation__items {
  flex: 1 1 100%;
}
@media screen and (min-width: 1280px) {
  .conversation__items {
    max-width: 55%;
    margin: auto;
  }
}
.conversation__item {
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 16px 0;
}
.conversation__content {
  justify-content: space-between;
  flex: 1 1 auto;
}
.conversation__username, .conversation__timestamp {
  padding-bottom: 1rem;
}
.conversation__timestamp {
  color: #AFAFAF;
}
.conversation__body {
  flex: 1 1 100%;
}

/* ###  footer/contact   ### *//*# sourceMappingURL=bio.css.map */