/* ##   size increments   ## */
/* 4px */
/* 8px */
/* 16px */
/* 24px */
/* 32px */
/* 36px */
/* 40px */
/* 48px */
/* 56px */
/* 64px */
/* 80px */
/* ##   colors   ## */
/* ##   font   ## */
/* ##   text styles   ## */
/* ##   responsive breakpoint   ## */
/* ##   site Container   ## */
/* ##   branding   ## */
/* ##   buttons   ## */
/* ## responsive breakpoints ## */
/* ## utiilty mixins ## */
/* ## Reset ## */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

@font-face {
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 400;
}
@font-face {
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 600;
}
@font-face {
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 700;
}
/* ## Default Styles ## */
body {
  font-family: "AvenirNext";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

a {
  text-decoration: none;
  font-style: normal;
  color: #FFFFFF;
}

h1, h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3, h4 {
  font-weight: 600;
  font-style: normal;
}

img {
  width: 100%;
}

span {
  font-style: normal;
  display: block;
  color: #FFFFFF;
}

.topbar__logo,
.contact__logo {
  max-width: 120px;
}

.container, .topbar__container, .topbar__items, .hero__container, .about__container, .gallery__container, .contact__container {
  padding: 0 1rem;
  max-width: 1044px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container, .topbar__container, .topbar__items, .hero__container, .about__container, .gallery__container, .contact__container {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .container, .topbar__container, .topbar__items, .hero__container, .about__container, .gallery__container, .contact__container {
    padding: 0 0;
  }
}

/* ###  header/navigation   ### */
.topbar {
  background-color: #323232;
}
.topbar__container {
  padding: 0 0;
}
@media screen and (min-width: 768px) {
  .topbar__container {
    padding: 0 2.25rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .topbar__container {
    padding: 0;
  }
}
.topbar__back-to-home {
  padding: 1rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .topbar__back-to-home {
    padding: 0;
    margin: 0;
  }
}
.topbar__back-to-home, .topbar__navigation, .topbar__items {
  flex: 0 0 100%;
}
@media screen and (min-width: 768px) {
  .topbar__back-to-home, .topbar__navigation, .topbar__items {
    flex: 0 0 auto;
  }
}
.topbar__items {
  padding: 0 0;
  list-style: none;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .topbar__items {
    gap: 2rem;
  }
}
.topbar__item, .topbar__link {
  transition: all 0.2s ease;
}
.topbar__item {
  flex: 0 0 50%;
  padding: 0 1rem 0.5rem;
  font-weight: 600;
  text-align: center;
}
.topbar__item:hover, .topbar__item--active {
  border-bottom: 0.25rem solid #FFFFFF;
  cursor: pointer;
}
.topbar__item:hover > a, .topbar__item--active > a {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .topbar__item {
    padding: 1.5rem 0;
    flex: 0 0 auto;
  }
}
.topbar__link {
  color: #AFAFAF;
}

/* ###  footer/contact   ### */
.hero {
  background: url("../assets/images/hero-bio.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 32vh;
}
@media screen and (min-width: 450px) {
  .hero {
    height: 36vh;
  }
}
@media screen and (min-width: 550px) {
  .hero {
    height: 40vh;
  }
}
@media screen and (min-width: 650px) {
  .hero {
    height: 48vh;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}
.hero__overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero__container {
  height: 100%;
  justify-content: flex-start;
}
.hero__title {
  color: #FFFFFF;
}
@media screen and (min-width: 550px) {
  .hero__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 650px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
  }
}

/* ###  about/bio   ### */
.about__container, .about__image {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__container, .about__image {
    padding-bottom: 2.25rem;
  }
}
.about__title, .about__sub-title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__title, .about__sub-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.about__container {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .about__content {
    width: 90%;
    margin: 0 auto;
  }
}
.about__quotation {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__bio {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .about__sub-title {
    flex: 1 0 100%;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    flex: 1 0 40%;
  }
}
.about__text--first {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__text--first {
    margin: 0 2rem 0 0;
    padding-bottom: 0;
  }
}

/* ###  gallery   ### */
.gallery {
  background-color: #FAFAFA;
}
.gallery__container {
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    padding-bottom: 2.25rem;
  }
}
.gallery__title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.gallery__items {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .gallery__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
}
.gallery__item {
  margin-bottom: 1rem;
}
.gallery__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 30%;
  }
}
.gallery__image {
  filter: grayscale(1);
  transition: filter 0.2s ease;
}
.gallery__image:hover, .gallery__image:active {
  filter: none;
}

/* ###  footer/contact   ### */
.contact {
  background-color: #323232;
}
.contact__container {
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__container {
    padding-bottom: 2.25rem;
  }
}
.contact__title {
  flex: 1 0 100%;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 2.5rem;
    order: -1;
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__title {
    flex: 0 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .contact__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.contact__social {
  flex: 1 0 100%;
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .contact__social {
    order: -1;
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__social {
    flex: 0 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon {
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--facebook {
    width: 18px;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--twitter {
    width: 35px;
  }
}
.contact__point {
  flex: 1 0 100%;
}
@media screen and (min-width: 768px) {
  .contact__point {
    flex: 1 0 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__point {
    flex: 0 1 30%;
  }
}
.contact__person {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__person {
    padding-top: 0;
    padding-bottom: 2.25rem;
  }
}
.contact__location {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__location {
    padding-bottom: 2.25rem;
  }
}
.contact__name, .contact__company {
  font-weight: 700;
  color: #FFFFFF;
}
.contact__title, .contact__copyright {
  color: #FFFFFF;
}
.contact__icon, .contact__logo {
  vertical-align: bottom;
}
.contact__back-to-home {
  display: block;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__back-to-home {
    flex: 1 1 30%;
    padding-bottom: 0;
    margin-top: 0;
    order: -1;
    text-align: right;
  }
}
@media screen and (min-width: 1280px) {
  .contact__back-to-home {
    flex: 1 0 40%;
  }
}
.contact__copyright {
  flex: 1 0 100%;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .contact__copyright {
    font-size: 1rem;
    margin-top: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */