/* ##   size increments   ## */
/* 4px */
/* 8px */
/* 16px */
/* 24px */
/* 32px */
/* 36px */
/* 40px */
/* 48px */
/* 56px */
/* 64px */
/* 80px */
/* ##   colors   ## */
/* ##   font   ## */
/* ##   responsive breakpoint   ## */
/* ##   site Container   ## */
/* ##   branding   ## */
/* ##   buttons   ## */
/* ## responsive breakpoints ## */
/* ## utiilty mixins ## */
/* ## Reset ## */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

@font-face {
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 400;
}
@font-face {
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 600;
}
@font-face {
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 700;
}
/* ## Default Styles ## */
body {
  font-family: "AvenirNext";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #323232;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #FFFFFF;
}

h1, h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

h3, h4 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;
}

img {
  width: 100%;
}

span {
  font-style: normal;
  display: block;
  color: #FFFFFF;
  line-height: 1.5rem;
}

.topbar__logo,
.contact__logo {
  max-width: 120px;
}

.container, .topbar__container, .topbar__items, .contact__container {
  max-width: 1044px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ###  header/navigation   ### */
.topbar {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .topbar__container {
    padding: 0 2.25rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3.5rem;
  }
}
.topbar__back-to-home {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .topbar__back-to-home {
    padding: 0;
    margin: 0;
  }
}
.topbar__back-to-home, .topbar__navigation, .topbar__items {
  flex: 0 0 100%;
}
@media screen and (min-width: 768px) {
  .topbar__back-to-home, .topbar__navigation, .topbar__items {
    flex: 0 0 auto;
  }
}
.topbar__items {
  list-style: none;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .topbar__items {
    gap: 2rem;
  }
}
.topbar__item, .topbar__link {
  transition: all 0.2s;
}
.topbar__item {
  flex: 0 0 50%;
  padding: 0 1rem 0.5rem;
  font-weight: 600;
  text-align: center;
}
.topbar__item:hover, .topbar__item--active {
  border-bottom: 0.25rem solid #FFFFFF;
  cursor: pointer;
}
.topbar__item:hover > a, .topbar__item--active > a {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .topbar__item {
    padding: 1.5rem 0;
    flex: 0 0 auto;
  }
}
.topbar__link {
  color: #AFAFAF;
}

/* ###  footer/contact   ### */
.contact {
  background-color: #323232;
  padding: 2rem 0 1.5rem;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 3.5rem 0;
  }
}
.contact__container {
  padding: 0 1rem;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .contact__container {
    padding: 0 2.25rem;
  }
}
.contact__title {
  flex: 1 0 100%;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 2.5rem;
    order: -1;
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__title {
    flex: 0 1 30%;
  }
}
.contact__social {
  flex: 1 0 100%;
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .contact__social {
    order: -1;
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__social {
    flex: 0 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon {
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--facebook {
    width: 18px;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--twitter {
    width: 35px;
  }
}
.contact__title, .contact__social, .contact__point {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .contact__title, .contact__social, .contact__point {
    margin-bottom: 0;
  }
}
.contact__point {
  flex: 1 0 100%;
}
@media screen and (min-width: 768px) {
  .contact__point {
    flex: 1 0 30%;
    margin: 3rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .contact__point {
    flex: 0 1 30%;
  }
}
.contact__person, .contact__location {
  margin-bottom: 1rem;
}
.contact__name, .contact__company {
  font-weight: 700;
}
.contact__title, .contact__copyright {
  color: #FFFFFF;
}
.contact__back-to-home {
  display: block;
  padding: 2rem 0 0.5rem;
}
@media screen and (min-width: 768px) {
  .contact__back-to-home {
    flex: 1 1 30%;
    padding: 0;
    order: -1;
    text-align: right;
  }
}
@media screen and (min-width: 1280px) {
  .contact__back-to-home {
    flex: 1 0 40%;
  }
}
.contact__copyright {
  flex: 1 0 100%;
  font-size: 12px;
}/*# sourceMappingURL=bio.css.map */