@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/reset' as *;
@use './partials/globals' as *;
@use './partials/fontface' as *;

/* ###  header/navigation   ### */

.topbar {
    background-color: $primary-color-main;

    &__container {
        @extend .container;
        padding: 0 0;

        @include tablet-responsive {
            padding: 0 $size-increment-x5-1;
            justify-content: flex-start;
            flex-wrap: nowrap;
            gap: $size-increment-x8;
        }
        @include desktop-responsive {padding: 0;}
    }

    &__back-to-home {
        padding: $size-increment-x3 0;

        @include align-text(center);
        @include tablet-responsive {
            padding: 0;
            margin: 0;
        }    
    }

    &__back-to-home, &__navigation,
    &__items {
        flex: 0 0 100%;

        @include tablet-responsive {flex: 0 0 auto;}
    }

    &__items {
        @extend .container;
        padding: 0 0;

        list-style: none;
        align-items: flex-start;

        @include tablet-responsive {gap: $size-increment-x5;}
    }

    &__item, &__link {transition: all .2s ease;}

    &__item {
        flex: 0 0 50%;
        padding: 0 $size-increment-x3 $size-increment-x2;
        font-weight: $font-weight-demi;

        &:hover,
        &--active {
            border-bottom: $size-increment-x1 solid $primary-color-subsidiary;
            cursor: pointer;
        }
        &:hover > a,
        &--active > a {
            color: $primary-color-subsidiary;
        }

        @include align-text(center);
        @include tablet-responsive {
            padding: $size-increment-x4 0;
            flex: 0 0 auto;
        }
    }

    &__link {color: $primary-color-alternate;}
}

/* ###  footer/contact   ### */

.hero {
    background: url("../assets/images/hero-bio.jpg") center no-repeat;
    background-size: cover;

    height: 32vh;
    
    @include custom-responsive("min", 450px) {height: 36vh;}
    @include custom-responsive("min", 550px) {height: 40vh;}
    @include custom-responsive("min", 650px) {height: 48vh;}
    @include tablet-responsive {height: 60vh;}
    @include desktop-responsive {height: 80vh;}

    &__overlay {
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }

    &__container {
        @extend .container;

        height: 100%;
        justify-content: flex-start;
    }

    &__title {
        color: $primary-color-subsidiary;

        @include custom-responsive("min", 550px) {font-size: $size-increment-x5;}
        @include custom-responsive("min", 650px) {font-size: $size-increment-x6;}

        @include tablet-responsive {font-size: $size-increment-x8;}
    }
}

/* ###  about/bio   ### */

.about {

    &__container,
    &__image {
        @include padding-component("mobile");
        @include tablet-responsive {@include padding-component("tablet");}
    }

    &__title,
    &__sub-title {
        @include padding-headline("mobile");
        @include tablet-responsive {@include padding-headline("tablet");}
    }

    &__container {
        @extend .container;
        justify-content: flex-start;
    }

    &__content {
        @include tablet-responsive {
            width: 90%;
            margin: 0 auto;
        }
    }


    &__quotation {font-weight: $font-weight-bold;}
    
    &__bio {
        @include tablet-responsive {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__sub-title {
        @include tablet-responsive {
            @include flex-item-realestate(1, 0, 100%);
        }
    }

    &__text {
        @include tablet-responsive {
            @include flex-item-realestate(1, 0, 40%);
        }
    }
    &__text--first {
        @include padding-component("mobile");
        @include tablet-responsive {
            margin: 0 $size-increment-x5 0 0;
            padding-bottom: 0;
        }
    }
}

/* ###  gallery   ### */

.gallery {
    background-color: $secondary-color-subsidiary;

    &__container {
        @extend .container;
        justify-content: flex-start;

        @include padding-component("mobile");
        @include tablet-responsive {
            @include padding-component("tablet");
        }
    }

    &__title {
        @include padding-headline("mobile");
        @include tablet-responsive {
            @include padding-headline("tablet");
        }
    }

    &__items {
        @include tablet-responsive {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: $size-increment-x3;
        }
    }

    &__item {
        margin-bottom: $size-increment-x3;
        &:last-child {margin-bottom: 0;}

        @include tablet-responsive {width: 30%;}
    }

    &__image {
        filter: grayscale(1);
        transition: filter .2s ease;

        &:hover, &:active {filter: none;}
    }
}

/* ###  comment   ### */
.conversation {
    &__container {
        @extend .container;
        justify-content: flex-start;
    }

    @include padding-component("mobile");
    @include tablet-responsive {
        @include padding-component("tablet");
    }

    &__title {
        @include padding-headline("mobile");
        @include flex-item-realestate(1, 0, 100%);
        @include tablet-responsive {
            @include padding-headline("tablet");
        }    
    }

    &__comment {
        @include flex-item-realestate(1, 0, 100%);
        @extend .flex-container;
        justify-content: flex-start;

        @include padding-component("mobile");
        @include tablet-responsive {
            @include padding-component("tablet");
        }

        @include desktop-responsive {
            max-width: 50%;
            margin: auto;
        }

    }

    &__thumbnail {
        align-self: flex-start;

        &--active {
            margin-top: $size-increment-x4;

            @include tablet-responsive {
                margin-top: 1.85rem;
            }
        }
    }

    &__avatar {
        @extend .flex-container;
        justify-content: flex-start;

        width: $size-increment-x7;
        height: $size-increment-x7;
        border-radius: 50%;
        overflow: hidden;
        margin-right: $size-increment-x3;
        background-color: $secondary-color-alternate;
    }

    &__image {
        width: auto;
        height: 100%;
    }

    &__form {
        @include flex-item-realestate(1, 1, auto);
    }

    &__name, &__text {
        @include padding-component("mobile");
        @include tablet-responsive {
            @include padding-component("tablet");
        }
    }

    &__name, &__text,
    &__label, &__input, &__textarea, &__action {
        width: 100%;
    }

    &__input, &__textarea, &__action {
        border-radius: $size-increment-x1;
    }

    &__label {
        margin-bottom: $size-increment-x1;
        color: $primary-color-alternate;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    &__input, &__textarea {
        border: 1px solid $secondary-color-alternate;
        min-height: $size-increment-x5-1;
        padding: $size-increment-x2-1;
        background-color: #f1f1f1;

        @include tablet-responsive {
            min-height: $size-increment-x7;
            padding: $size-increment-x3;
        }
    }
    
    &__input:active, &__textarea:focus {
        border-color: $primary-color-main;
    }
    
    &__input::placeholder, &__textarea::placeholder {
        font-family: $font-face;
        color: $primary-color-main;
        font-weight: 600;
    }
    
    &__textarea {
        resize: none;
        min-height: 120px;
    }

    &__action {
        min-height: $size-increment-x6;
        background-color: $primary-color-main;
        color: $primary-color-subsidiary;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;

        @include tablet-responsive {
            min-width: 150px;
            width: 25%;
            padding: 0 $size-increment-x5;
            float: right
        }

    }

    &__items {
        @include desktop-responsive {
            max-width: 50.1%;
            margin: auto;
        }
    }

    &__item {
        @extend .flex-container;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 16px 0;
    }

    &__username, &__timestamp {
        @include padding-component("mobile");
    }
    &__timestamp {
        color: $primary-color-alternate;
    }

    &__content {
        @extend .flex-container;
        justify-content: space-between;
    }
}

/* ###  footer/contact   ### */

.contact {
    background-color: $primary-color-main;

    &__container {
        @extend .container;

        justify-content: flex-start;

        @include padding-component("mobile");
        @include tablet-responsive {
            @include padding-component("tablet");
        }
    }

    &__title {
        @include flex-item-realestate(1, 0, 100%);
        font-weight: $font-weight-demi;

        @include tablet-responsive {
            font-size: $size-increment-x6;
            order: -1;
            @include flex-item-realestate(1, 1, 30%);
        }

        @include desktop-responsive {@include flex-item-realestate(0, 1, 30%);}
        @include padding-headline("mobile");
        @include tablet-responsive {@include padding-headline("tablet");}
    }

    &__social {
        @include flex-item-realestate(1, 0, 100%);
        display: flex;
        gap: $size-increment-x5;

        @include tablet-responsive {
            order: -1;
            @include flex-item-realestate(1, 1, 30%);
        }

        @include desktop-responsive {@include flex-item-realestate(0, 1, 30%);}
    }

    &__icon {
        @include tablet-responsive {width: 30px;}

        &--facebook {
            @include tablet-responsive {width: 18px;}
        }
        &--twitter {
            @include tablet-responsive {width: 35px;}
        }
    }

    &__point {
        @include flex-item-realestate(1, 0, 100%);
        @include tablet-responsive {@include flex-item-realestate(1, 0, 30%);}
        @include desktop-responsive {@include flex-item-realestate(0, 1, 30%);}
    }

    &__person {
        @include padding-headline("mobile");

        @include tablet-responsive {
            padding-top: 0;
            @include padding-component("tablet");
        }
    }
    &__location {
        @include padding-component("mobile");

        @include tablet-responsive {@include padding-component("tablet");}
    }


    &__title, &__name,
    &__company, &__copyright {color: $primary-color-subsidiary;}

    &__name, &__company {font-weight: $font-weight-bold;}
    &__icon, &__logo {vertical-align: bottom;}

    &__back-to-home {
        display: block;
        margin-top: $size-increment-x7;

        @include padding-component("mobile");

        @include tablet-responsive {
            @include flex-item-realestate(1, 1, 30%);
            padding-bottom: 0;
            margin-top: 0;
            order: -1;
            text-align: right;
        }
        @include desktop-responsive {@include flex-item-realestate(1, 0, 40%);}
    }

    &__copyright {
        @include flex-item-realestate(1, 0, 100%);
        font-size: 12px;
        
        @include tablet-responsive {
            font-size: $size-increment-x3;
            margin-top: $size-increment-x7;
        }
    }
}