/* ##   size increments   ## */
/* 4px */
/* 8px */
/* 12px */
/* 16px */
/* 24px */
/* 32px */
/* 36px */
/* 40px */
/* 48px */
/* 56px */
/* 64px */
/* 80px */
/* ##   colors   ## */
/* ##   font   ## */
/* ##   text styles   ## */
/* ##   site Container   ## */
/* ##   responsive breakpoint   ## */
/* ##   branding   ## */
/* ##   buttons   ## */
/* ##   imagery   ## */
/* ## Reset ## */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, cite, a,
ul, li, figure, figcaption, footer, header,
nav, section, form, input, button, textarea, hr {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

@font-face {
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 400;
}
@font-face {
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 600;
}
@font-face {
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-family: "AvenirNext";
  font-weight: 700;
}
/* ## responsive breakpoints ## */
/* ## utiilty mixins ## */
/* ## Default Styles ## */
body {
  font-family: "AvenirNext";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

a {
  text-decoration: none;
  font-style: normal;
  color: #FFFFFF;
}

h1, h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3, h4 {
  font-weight: 600;
  font-style: normal;
}

img {
  width: 100%;
}

span, label {
  font-style: normal;
  display: block;
}

.hero, footer {
  color: #FFFFFF;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.topbar__logo,
.contact__logo {
  max-width: 120px;
}

.flex-container, .hero__content, .shows__header, .shows__ticket, .cta, .shows__action, .container, .shows__container, .hero__container, .contact__container, .topbar__container, .topbar__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container, .shows__container, .hero__container, .contact__container, .topbar__container, .topbar__items {
  max-width: 1044px;
  padding: 0 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container, .shows__container, .hero__container, .contact__container, .topbar__container, .topbar__items {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .container, .shows__container, .hero__container, .contact__container, .topbar__container, .topbar__items {
    padding: 0 0;
  }
}

.cta, .shows__action {
  min-height: 2.5rem;
  background-color: #323232;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .cta, .shows__action {
    min-width: 150px;
    padding: 0 2rem;
  }
}

.label, .shows__label {
  margin-bottom: 0.25rem;
  color: #AFAFAF;
  font-weight: 600;
  text-transform: uppercase;
}

/* ###  header/navigation   ### */
.topbar {
  background-color: #323232;
}
.topbar__container {
  padding: 0 0;
}
@media screen and (min-width: 768px) {
  .topbar__container {
    padding: 0 2.25rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .topbar__container {
    padding: 0;
  }
}
.topbar__back-to-home {
  padding: 1rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .topbar__back-to-home {
    padding: 0;
    margin: 0;
  }
}
.topbar__back-to-home, .topbar__navigation, .topbar__items {
  flex: 0 0 100%;
}
@media screen and (min-width: 768px) {
  .topbar__back-to-home, .topbar__navigation, .topbar__items {
    flex: 0 0 auto;
  }
}
.topbar__items {
  padding: 0 0;
  list-style: none;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .topbar__items {
    gap: 2rem;
  }
}
.topbar__item, .topbar__link {
  transition: all 0.2s ease;
}
.topbar__item {
  flex: 0 0 50%;
  padding: 0 1rem 0.5rem;
  font-weight: 600;
  text-align: center;
}
.topbar__item:hover, .topbar__item--active {
  border-bottom: 0.25rem solid #FFFFFF;
  cursor: pointer;
}
.topbar__item:hover > a, .topbar__item--active > a {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .topbar__item {
    padding: 1.5rem 0;
    flex: 0 0 auto;
  }
}
.topbar__link {
  color: #AFAFAF;
}

.contact {
  background-color: #323232;
}
.contact__container {
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__container {
    padding-bottom: 2.25rem;
  }
}
.contact__title {
  flex: 1 0 100%;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 2.5rem;
    order: -1;
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__title {
    flex: 0 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .contact__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.contact__social {
  flex: 1 0 100%;
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .contact__social {
    order: -1;
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__social {
    flex: 0 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon {
    width: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--facebook {
    width: 18px;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--twitter {
    width: 35px;
  }
}
.contact__point {
  flex: 1 0 100%;
}
@media screen and (min-width: 768px) {
  .contact__point {
    flex: 1 0 30%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__point {
    flex: 0 1 30%;
  }
}
.contact__person {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__person {
    padding-top: 0;
    padding-bottom: 2.25rem;
  }
}
.contact__location {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__location {
    padding-bottom: 2.25rem;
  }
}
.contact__title, .contact__name, .contact__company, .contact__copyright {
  color: #FFFFFF;
}
.contact__name, .contact__company {
  font-weight: 700;
}
.contact__icon, .contact__logo {
  vertical-align: bottom;
}
.contact__back-to-home {
  display: block;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__back-to-home {
    flex: 1 1 30%;
    padding-bottom: 0;
    margin-top: 0;
    order: -1;
    text-align: right;
  }
}
@media screen and (min-width: 1280px) {
  .contact__back-to-home {
    flex: 1 0 40%;
  }
}
.contact__copyright {
  flex: 1 0 100%;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .contact__copyright {
    font-size: 1rem;
    margin-top: 3rem;
  }
}

.hero {
  height: 32vh;
}
.hero__overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero__container {
  height: 100%;
  justify-content: flex-start;
}
.hero__title {
  color: #FFFFFF;
}
@media screen and (min-width: 550px) {
  .hero__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 650px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
  }
}

.hero {
  background: url("../assets/images/hero-shows.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
}
@media screen and (min-width: 650px) {
  .hero {
    height: 48vh;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}
.hero__container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero__content {
  flex: 1 1 100%;
  justify-content: flex-start;
}
.hero__pretitle {
  flex: 1 1 100%;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__pretitle {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.hero__title {
  flex: 0 1 60%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    flex: 1 1 50%;
  }
}
.hero__player {
  flex: 1 1 100%;
}
@media screen and (min-width: 768px) {
  .hero__player {
    flex: 0 1 60%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__player {
    flex: 1 1 50%;
  }
}

/* ###  shows/tickets   ### */
.shows__container {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .shows__container {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__container {
    flex-wrap: nowrap;
    padding-top: 3rem;
  }
}
.shows__title {
  flex: 1 1 100%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    flex: 0 1 20%;
    align-self: flex-start;
    padding: 0;
    margin-top: -1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__content {
    flex: 0 1 80%;
  }
}
.shows__content, .shows__ticket {
  flex: 1 1 100%;
}
.shows__header {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__header {
    display: flex;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}
.shows__ticket {
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__ticket {
    flex-wrap: wrap;
    padding: 1.5rem 1.125rem;
  }
  .shows__ticket:hover {
    background-color: #FAFAFA;
    cursor: pointer;
  }
  .shows__ticket--selected {
    background-color: #E1E1E1;
  }
  .shows__ticket--selected:hover {
    background-color: #E1E1E1;
  }
}
@media screen and (min-width: 768px) {
  .shows__label--mobile {
    display: none;
  }
}
.shows__timestamp, .shows__venue, .shows__location, .shows__action, .shows__label {
  flex: 1 1 100%;
}
@media screen and (min-width: 768px) {
  .shows__timestamp, .shows__venue, .shows__location, .shows__action, .shows__label {
    flex: 0 0 25%;
  }
}
.shows__timestamp, .shows__venue, .shows__location {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__timestamp, .shows__venue, .shows__location {
    padding-bottom: 0;
  }
}
.shows__city {
  font-weight: 600;
}
.shows__divider {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__divider {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=shows.css.map */